<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>trans_pudding_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{912, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1064, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1216, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1368, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1520, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1672, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1824, 0}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 182}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 182}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 182}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 182}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 180}</string>
			<key>spriteSourceSize</key>
			<string>{150, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 182}, {150, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 182}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{912, 182}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1064, 182}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1216, 182}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1368, 182}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1520, 182}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1672, 182}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1824, 182}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{912, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1064, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1216, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1368, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1520, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1672, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1824, 425}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 668}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trans_pudding_41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 241}</string>
			<key>spriteSourceSize</key>
			<string>{150, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 668}, {150, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>electric_trans</string>
			<key>textureFileName</key>
			<string>electric_trans</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>electric_trans</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>